
<section class="bg-white mb-4">
    <div class="page-header">
        <div class="container mb-3">
        	<h3 class="d-flex justify-content-between">Smart Farm <%if(staking.contract){%><a href="https://bscscan.com/token/<%= staking.contract%>" class="btn btn-md btn-block btn-primary">Contract</a><%}%></h3>
            
        </div>
    </div>

    <div class="container" data-ejs-load="/farm/item">

    </div>
</section>
