<div class="game">
	
	<div class="container">
		<h2 class="text-center">NTF GAMGE CAR</h2>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser-arcade-physics.min.js"></script>