<div class="container">
	
	<div class="row">
		<div class="col-6">
		<div class="card border">
			<h4>IDO</h4>
			<div class="card-body">
				<div class="form-group">
				    <label for="exampleInputEmail1">Presenter's address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>

				  <div class="form-group">
				    <label for="exampleInputPassword1">Amount Min amount: 0.01 | Max amount: 5</label>
				    <input type="password" class="form-control" id="exampleInputPassword1">
				  </div>
				  
				  <button type="submit" class="btn btn-primary">Buy Token</button>
			  
				<hr>
			  <p>
			  (*) Let’s share to get 20% all of Claim<br>
				(*) You must buy atleast 50.000 <%- token.name %> Token to receive comission from Level 2 - Level 7<br>
			    5% of Purchase at Level 1<br>
			    4% of Purchase at Level 2<br>
			    4% of Purchase at Level 3<br>
			    3% of Purchase at Level 4<br>
			    2% of Purchase at Level 5<br>
			    1% of Purchase at Level 6<br>
			    1% of Purchase at Level 7<br>
				(*) There is no limit bonus for Referral.<br>
				</p>
			</div>
		</div>
		</div>

		<div class="col-6">
			<div class="card border">
				<h4>Airdrop</h4>
				<button type="submit" class="btn btn-primary">Get Free Coin</button>
			</div>
		</div>
	</div>
</div>