 <section class="bg-white">
 	<div class="container">
 		<h4 class="d-flex justify-content-between">NFT Market <div> <a href="#" class="btn btn-info">CAR</a> <a href="#" class="btn btn-primary">Accesory</a></div></h4>
        <hr>
 		<div class="card-columns">
 		<% item.forEach(function(data, index){ %>
 			<%- include("components/shop.ejs",data) %>
 		<% }); %>
 		</div>
 	</div>
 </section>