<div class="container">
	<h3>Smart Staking Manager</h3>
</div>
<div class="container">
    <div class="border p-4">
        <div class="form-group">
            <label for="formControlRange">Select Plance</label>
            <input type="range" min="15" step="30" max="365" class="form-control-range" id="formControlRange">
        </div>

        <div class="input-group mb-3">
          <input type="number" class="form-control" id="tokenvalue" placeholder="Token Value">
          <div class="input-group-append">
            <button class="btn btn-sm btn-primary" data-staking="join" id="basic-addon2">Join Staking</button>
          </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 col-12">
            Period : <span id="period">1 day</span><br>
            Value : <span id="Rtokenvalue">100 CAR</span>
        </div>
        <div class="col-md-6 col-12">
            APR : <span>51%</span><br>
            Claim : <span>151 CAR</span>
        </div>
    </div>
    
    
</div>



<section class="section bg-white">
    <div class="container">
        <div class="nk-block">
            <h4>Your Staking Task</h4>
            <table class="table">
                <tr>
                    <td>Join</td>
                    <td>Finish</td>
                    <td>Blance</td>
                    <td>APR</td>
                    <td></td>
                </tr>

                <tr>
                    <td>15/08/2021 09:55:12</td>
                    <td>19/08/2021 09:55:12</td>
                    <td>100 CAR</td>
                    <td>51%</td>
                    <td class="text-right">
                        <button class="btn btn-sm btn-primary">Widthdraw</button>
                        <button class="btn btn-sm btn-info">Claim</button>
                    </td>
                </tr>

            </table>
        </div>
        
    </div>
</section>



<script>
    var period = 1;
    var stakvalue = 100;
    $("[type=range]").on("change", function(){
        $("#period").html(this.value + " days");
        period = this.value;
    });
    $("#tokenvalue").on("input", function(){
        if(this.value < 100){
           $('.toast').toast('show');
        }else{
            $("#Rtokenvalue").html(this.value + " <%= token.name%>");
            stakvalue = this.value;
        }
    });
</script>