.btn.walletLimit{
   display: inline-flex !important;
}
.walletLimit span {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
   max-width: 100px;
}
.has-fixed .walletLimit .icon{
   background-color: var(--info);
   color: #FFF;
}
.bg-theme-grad-alt{
   background-color: blueviolet;
   background-repeat: no-repeat;
   background-size: container;
   background-position: bottom center;
}
.game{
   background-image: url(/images/game.jpg) !important; 
  
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: top center;
   min-height: 750px;
}

.overlay-theme::after {
  /* background-image: linear-gradient(to right, #122272 0%, #1940b0 100%) !important;*/
    background: #000  !important;
}