<!DOCTYPE html>
<html lang="en" class="js">
<head>
<meta charset="utf-8">
<title>Smart Token</title>
<link rel="stylesheet" href="/bootstrap.css">
<link rel="stylesheet" href="/admin.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript">
	var SmartApps = (function (jQ, win, doc){
    "use strict";
    var SmartApps = {AppInfo: {name: "SmartCrypto", package: "1.9.2", version: "1.0.4", author: "SmartCrypto"} };
    var components = {docReady: [], docReadyDefer: [], winLoad: [], winLoadDefer: []};

    jQ(doc).ready(docReady);
    jQ(win).on("load", winLoad);

    function docReady(stmt){
        stmt = (typeof stmt === typeof undefined) ? jQ : stmt;
        components.docReady.concat(components.docReadyDefer).forEach(function(component){ component(stmt); });
    }

    function winLoad(stmt){
        stmt = (typeof stmt === "object") ? jQ : stmt;
        components.winLoad.concat(components.winLoadDefer).forEach(function(component){ component(stmt); });
    }
    
    SmartApps.components   = components;
    SmartApps.docReady  = docReady;
    SmartApps.winLoad       = winLoad;

    return SmartApps;
}(jQuery, window, document));
</script>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container">
	    <a class="navbar-brand" href="#">ADMINISTRATOR</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="/">Home</a>
	        </li>

	        <li class="nav-item">
	          <a class="nav-link" href="/settings">Settings</a>
	        </li>

	        <li class="nav-item">
	          <a class="nav-link" href="/files">File Mamager</a>
	        </li>

	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Crypto
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <li><a class="dropdown-item" href="/token">Smart Token</a></li>
	            <li><a class="dropdown-item" href="/airdrop">Airdrop</a></li>
	            <li><a class="dropdown-item" href="/presell">Presell</a></li>
	            <li><a class="dropdown-item" href="/ido">IDO Solution</a></li>
	            <li><a class="dropdown-item" href="/farm">FARM</a></li>
	            <li><a class="dropdown-item" href="/staking">STAKING</a></li>
	            <li><hr class="dropdown-divider"></li>
	            <li><a class="dropdown-item" href="/nft">NFT</a></li>
	            <li><a class="dropdown-item" href="/nft">NFT Market</a></li>
	            <li><hr class="dropdown-divider"></li>
	            <li><a class="dropdown-item" href="#">Game</a></li>
	          </ul>
	        </li>

	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            DAPP
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <li><a class="dropdown-item" href="#">Smart Signal</a></li>
	            <li><a class="dropdown-item" href="#">Smart Bot</a></li>
	            
	          </ul>
	        </li>

	      </ul>
	      <form class="d-flex">
	        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	        <button class="btn btn-outline-success" type="submit">Search</button>
	      </form>
	    </div>
	  </div>
	</nav>

	<br>

	<div class="container-fluid">
		<%- body %>
		
		<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
		  <div id="toast-container" class="toast toast-error toast-bottom-right hide toastr-bottom-right" role="alert"  data-autohide="true" data-delay="5000">
		    
		    <div class="toast-body toast-body toast-message">
		      Hello, world! This is a toast message.
		    </div>
		  </div>
		</div>


	</div>
	<script type="text/javascript" src="/web3admin.js"></script>
	<script type="text/javascript" src="/nft.js"></script>
</body>
</html>