<h4 class="contractaddress d-flex justify-content-between"></h4>
<hr>
<div class="row">
	<div class="col-6">
		<h5>Mint NFT <button class="btn btn-primary">Mint</button></h5>
		<hr>
	</div>

	<div class="col-6">
		<h5>Mint Quality <button class="btn btn-primary" id="mintQuality">Mint Quality</button></h5>
		<hr>
	</div>

</div>