<div class="row">
			<div class="col-md-2">

				
				<button class="btn btn-danger btn-auto" id="metaConnect">Connect</button>
				
				<div>
					<h4>Wallet Connect</h4>
					<div class="border p-3">
						<div style="white-space: nowrap;
						  overflow: hidden;
						  text-overflow: ellipsis;
						  max-width: 90%;">
						<div class="walletaddress"></div>
						</div>
					</div>
					<br>
					<div class="card" style="width: 18rem;">
					  
					  <div class="card-body">
					    <h5 class="card-title balance">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				</div>

			</div>
			<div class="col-md-10">

				<div class="row">
					<div class="col-6">
						<h5>Mint NFT <button class="btn btn-primary">Mint</button></h5>
						<hr>
					</div>

					<div class="col-6">
						<h5>Mint Quality <button class="btn btn-primary" id="mintQuality">Mint Quality</button></h5>
						<hr>
					</div>

				</div>
			</div>
</div>

