<div class="row">
			<div class="col-md-2">

				<div class="input-group mb-3">
				  <input type="text" class="form-control" placeholder="Enter Phone Number">
				  <span class="input-group-text" id="basic-addon2">Connect</span>
				</div>

				
				<div>
					<h4>Settings Connect</h4>
				</div>

			</div>
			<div class="col-md-10">

				<h4>Settings <a href="" class="btn btn-sm btn-info">Build All</a></h4>
				<hr>
					<form action="/settings/create" method="post">
						<div class="mb-3 row">
						    <label  class="col-sm-2 col-form-label">Name</label>
						    <div class="col-sm-10">
						      <input type="text" name="name" class="form-control" value="">
						    </div>
						</div>
						<div class="mb-3 row">
						    <label  class="col-sm-2 col-form-label">HTML Controller</label>
						    <div class="col-sm-10">
						      <textarea type="text" name="code" class="form-control" value=""></textarea>
						    </div>
						</div>
						<div class="mb-3 row">
						    <label  class="col-sm-2 col-form-label"></label>
						    <div class="col-sm-10">
						      <button type="submit" class="btn btn-primary" value="">Create Settings</button>
						    </div>
						</div>
					</form>
				</form>
				<hr>
				<table class="table">
					<tr>
						<td>Keyword</td>
						<td></td>
					</tr>

				</table>
			</div>
</div>