<div>
	
	<div class="container" id="game">
		
	</div>
</div>



<script src="./game/car/web3.min.js"></script>
<script src="./game/car/web3setup.js"></script>
<script src="./game/car/phaser.min.js"></script>
<script src="./game/car/login.js"></script>
<script src="./game/car/mint.js"></script>
<script src="./game/car/carsListLoader.js"></script>
<script src="./game/car/carsList.js"></script>
<script src="./game/car/challengesListLoader.js"></script>
<script src="./game/car/challengesList.js"></script>
<script src="./game/car/challengeChooser.js"></script>
<script src="./game/car/game.js"></script>
<script src="./game/car/openForBattle.js"></script>
<script src="./game/car/main.js"></script>