 <section class="bg-white">
 	<div class="container-market">
       <div class="row">
              
              <div class="col-md-3">
                     <%- include("components/categories.ejs") %>
              </div>

              <div class="col-md-9">
                     <h4 class="d-flex justify-content-between">NFT Market <div> <a href="#" class="btn btn-info">Create</a> <a href="#" class="btn btn-primary">Sell</a></div></h4>
                     <hr>
                     <div class="card-columns">
                            
                     </div>
              </div>
       </div>
 		
 	</div>
 </section>