<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="<%= url%>" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= name%></h5>
        <p class="card-text"><%= description%></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-md-12">
    	<hr>
    	<div class="d-flex justify-content-between">
    	0.001 ETH <a href="#" data-web3="marketbuy" class="btn btn-sm btn-primary">Buy Now</a>
    	</div>
    </div>
  </div>
</div>